<div class="tab-pane" id="videot" role="tabpanel" aria-labelledby="videot-tab">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <img src="../assets/media/adds/3.png" width="100%" style="-webkit-transform: scaleX(-1);transform: scaleX(-1);">
    </div>

    <div class="col-lg-4 col-md-6 text-center">
      <div style="padding-top: 10%;"></div>
      <img src="../assets/media/adds/4.png" width="70%" style="margin: auto;display: block;">
      <div style="padding-top: 10%;"></div>
      <h3 style="margin: auto;display: block;color: white"> Charge Code </h3>
    </div>

    <div class="col-lg-4 col-md-6">
      <img src="../assets/media/adds/3.png" width="100%">
    </div>

  </div>
  <!-- /.row -->

  <div class="row">

    <div class="col-lg-3 col-md-6">
      <img src="../assets/media/adds/5.png" width="100%">
    </div>

    <div class="col-lg-6 col-md-6">

      <div style="padding-top: 5%;"></div>
      <form class="text-center">

        <input type="text" maxlength="4" size="4" style="text-align:center;font-weight: 900;font-size: 24px">
        <strong style="font-weight: 900;font-size: 30px;"> - </strong>
        <input type="text" maxlength="4" size="4" style="text-align:center;font-weight: 900;font-size: 24px">
        <strong style="font-weight: 900;font-size: 30px;"> - </strong>
        <input type="text" maxlength="4" size="4" style="text-align:center;font-weight: 900;font-size: 24px">
        <div style="padding-top: 5%;"></div>
        <ul>
          <li> Charged silks cannot be <strong> refunded </strong>, Charge codes are only used <strong>once</strong>  </li>
        </ul>
        <br>
        <button type="submit" class="cart-btn mb__10"> <i class="far fa-credit-card"></i> Accept & Charge </button>
      </form>
    </div>

    <div class="col-lg-3 col-md-6">
      <img src="../assets/media/adds/5.png" width="100%" style="-webkit-transform: scaleX(-1);transform: scaleX(-1);">
    </div>
  </div>

</div>