<% if @chars %>
  <% if @chars.size >0 %>
    <div id="friend-lookup-results" class="well results-block col-md-10">
      <table class="search-results-table col-md-12">
        <tbody>
        <% @chars.each do |char| %>
          <div class="letest-games" style="background: rgba(61, 14, 3, 1);">
            <div class="row">
              <div class="col-md-2">
                <a href="<%= "characters/" + char[:charname16].to_s  %>"><img src="../assets/media/5.jpeg" alt="thumb"></a>
              </div>
              <div class="col-md-6" align="center" style="padding-top: 20px !important;">
                <div class="game-time text-center">
                  <div class="date"><strong class="time" style="font-size: 30px !important;"><%= link_to char[:charname16].to_s,"characters/" + char[:charname16].to_s %></strong></div>
                </div>
              </div>
            </div>

          </div>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
