<%= form_tag search_chars_path,remote: true,method: :get , class: "search-form", id: "search_for_char", autocomplete: "off" do %>
  <%= text_field_tag :search_param,params[:search_param],placeholder:"Search for character ..."%>
<% end %>

<div id="results">
  <%= render 'users/result_char'%>
</div>