<!--=====================-->
<!--=        Footer       =-->
<!--================++=====-->
<footer id="footer-three" class="pr" data-bg-image="../assets/media/background/45.jpg">
  <div class="container">
    <div class="footer-inner">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-6">
          <div class="footer-about">
            <div class="content">
              <p>
                Z Online is a fantasy MMORPG set in the 7th century AD, along the Silk Road between China and Europe. The game requires no periodic subscription fee, but players can purchase cosmetic items to have a cool look.
              </p>
            </div>

            <ul class="footer-social-link">
              <li class="fb-bg"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="in-bg"><a href="#"><i class="fa fa-youtube"></i></a></li>
              <li class="tw-bg"><a href="#"><i class="fab fa-discord"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- /.col-lg-3 col-sm-6 col-md-6 -->

        <div class="col-lg-3 col-sm-6 col-md-6">
          <div class="footer-menu-inner">
            <a  href="https://www.elitepvpers.com"><img src="https://chimpeon.com/images/elitepvpers_logo.png"></a>
          </div>
        </div>
        <!-- /.col-lg-3 col-sm-6 col-md-6 -->

        <div class="col-lg-3 col-sm-6 col-md-6">
        </div>
        <!-- /.col-lg-3 col-sm-6 col-md-6 -->

        <div class="col-lg-3 col-sm-6 col-md-6">
        </div>
        <!-- /.col-lg-3 col-sm-6 col-md-6 -->
      </div>
      <!-- /.row -->

      <div class="copy-right">
        <p>Copyright 2018 <a href="www.z-sro.com" >Z Team</a> All Rights Reserved</p>
      </div>
    </div>
    <!-- /.footer-inner -->
  </div>
  <!-- /.container -->
</footer>
<!-- /#footer-three -->