<!DOCTYPE html>
<html lang="en" class="Gibbu_@hotmail.com">

<head>
  <meta charset="UTF-8">
  <title> Z Online | Congratulation ! </title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js" integrity="sha256-mkdmXjMvBcpAyyFNCVdbwg4v+ycJho65QLDwVE3ViDs=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


  <%= stylesheet_link_tag "login.css" %>


</head>

<body>


<!-- NORMALIZED CSS INSTALLED-->
<!-- View settings for more info.-->
<div id="container" >
  <div id="inviteContainer"  style="width: 80%; height: auto">
    <div class="logoContainer" style="width: 100%; height: auto">
      <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Approve_icon.svg/2000px-Approve_icon.svg.png"/>
      <img class="text" src="https://image.ibb.co/gzYfu8/cooltext292378671326620.png" style="width: 30%; height: auto;"/>
      <img class="text" src="https://preview.ibb.co/hjrTgo/cooltext292378802949702.png" style="width: 50%; height: auto;"/>
      <button class="acceptBtn text" style="z-index: 155; margin-top: 2%; font-size: 28px; font-weight: 700;" onclick="location.href='../users/sign_in';">Login</button>
    </div>
  </div>
</div>


<%= javascript_include_tag "login.js"  %>




</body>

</html>
