
<%#= render 'layouts/adminNavbar'%>

<!--<h1>Welcome to Z-sro</h1>-->
<%#= link_to "Articles", articles_path %>
<%#= link_to "Downloads", download_path %>

<%#= render 'users/lookup' %>

<!doctype html>

<html>

<head>
  <!-- Meta Data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home | Z Online</title>

  <!-- Fav Icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/fav-icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/fav-icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/fav-icons/favicon-16x16.png">
  <meta name="theme-color" content="#3d0e03">

  <!-- Dependency Styles -->
  <link rel="stylesheet" href="assets/dependencies/bootstrap/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="assets/dependencies/font-awesome/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/brands.css" integrity="sha384-7xAnn7Zm3QC1jFjVc1A6v/toepoG3JXboQYzbM0jrPzou9OFXm/fY6Z/XiIebl/k" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous">




  <!-- Site Stylesheet -->
  <link rel="stylesheet" href="assets/dependencies/swiper/swiper.min.css" type="text/css">
  <link rel="stylesheet" href="assets/dependencies/wow/css/animate.css" type="text/css">
  <link rel="stylesheet" href="assets/dependencies/magnific-popup/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="assets/dependencies/jquery-animated-headlines/css/jquery.animatedheadline.css" type="text/css">
  <link rel="stylesheet" href="assets/home-dependencies/woocommerce.css" type="text/css">
  <link rel="stylesheet" href="assets/dependencies/jquery-ui/css/jquery-ui.css" type="text/css">
  <link rel="stylesheet" href="assets/home-dependencies/app.css" type="text/css">

  <!-- Google Web Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Khand:300,400,500,600,700%7C;Source+Sans+Pro:200,300,400,600,600i,700,900" rel="stylesheet">

</head>

<body id="home-version-1" class="home-version-1" data-style="default">
<!--
<div id="loader-wrapper">
<div class="loader">
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
</div>
</div> -->
<div id="loader-wrapper">
  <div class='loader'></div>
</div>

<div class="switch-top">
  <p>Back To Top</p>
  <a href="#main_content" data-type="section-switch" class="return-to-top">
    <i class="fa fa-angle-double-up"></i>
  </a>
</div>

<div id="main_content">


  <%= render "welcome/Navbar" %>




  <!--=========================-->
  <!--=        Banner         =-->
  <!--=========================-->
  <section id="banner">
    <div class="swiper-container banner-slider" data-swiper-config='{"loop": true, "effect": "slide", "prevButton":"#banner-nav-prev", "nextButton": "#banner-nav-next", "speed": 800, "autoplay": 5000, "grabCursor": true, "paginationClickable": true}'>

      <div class="swiper-wrapper">
        <div class="swiper-slide" data-bg-image="assets/media/banner/2.jpg" data-parallax="image">

          <div class="container">
            <div class="slider-content-two" data-animate="fadeIn">

              <h2 data-animate="fadeInUp"><span>Z </span>Online</h2>
              <h2 data-animate="fadeInUp" data-delay="0.5s">GREAT EXPERIENCE</h2>

              <a href="#" class="popup-btn" data-animate="fadeInRight" data-delay="0.9s">
                <i class="fa fa-play"></i>
                Watch Trailer
              </a>

            </div>
            <!-- /.slider-content -->
          </div>
          <!-- /.container -->
        </div>
        <div class="swiper-slide" data-bg-image="assets/media/banner/1.jpg" data-parallax="image">
          <div class="container">
            <div class="slider-content" data-animate="fadeIn">
              <h2 data-animate="zoomIn"><span>Z</span> Online</h2>
              <h2 data-animate="fadeInUp" data-delay="0.5s">Play To win</h2>

              <a href="#" class="popup-btn" data-animate="fadeInRight" data-delay="0.9s">
                <i class="fa fa-play"></i>
                Watch Trailer
              </a>

            </div>
            <!-- /.slider-content -->
          </div>
          <!-- /.container -->
        </div>

        <div class="swiper-slide" data-bg-image="assets/media/banner/33.jpg" data-parallax="image">
          <div class="container">
            <div class="slider-content-3" data-animate="fadeIn">

              <img src="assets/media/banner/4.png" alt="">
              <div class="content">

                <h2 data-animate="fadeInUp" data-delay="0.3s"><span>Z</span> Online</h2>
                <h2 data-animate="fadeInUp" data-delay="0.5s">Play it, Love it</h2>

                <style>

                </style>

                <div id="D-btn">
                  <div id="border1">
                    <div id="ornaments">
                      <div id="moreornaments">
                        <div id="radialgradient">
                          <div id="gloss">
                            <div id="inner">
                              <i class="fa fa-cloud-download"></i>
                              Download Now
                            </div>
                            <div id="gradientbottom"></div>
                          </div>
                        </div>
                        <div class="triangle top left bg"></div>
                        <div class="triangle middle left bg"></div>
                        <div class="triangle middle left"></div>
                        <div class="triangle top left"></div>
                        <div class="triangle bottom left bg"></div>
                        <div class="triangle bottom left"></div>
                        <div class="triangle top right bg"></div>
                        <div class="triangle top right"></div>
                        <div class="triangle middle right bg"></div>
                        <div class="triangle middle right"></div>
                        <div class="triangle bottom right bg"></div>
                        <div class="triangle bottom right"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- /.slider-content -->
          </div>
          <!-- /.container -->
        </div>
      </div>



      <!-- Swiper Nav Prev -->
      <div id="banner-nav-prev" class="fire-nav-prev">
        <i class="fa fa-angle-left"></i>
      </div>
      <!-- Swiper Nav Next -->
      <div id="banner-nav-next" class="fire-nav-next">
        <i class="fa fa-angle-right"></i>
      </div>
    </div>
  </section>
  <!-- /#banner -->

  <!--=========================-->
  <!--=        Game Vs        =-->
  <!--=========================-->
  <section id="torurmant-count" class="pt__50 pb__50" data-bg-image="assets/media/background/23.jpg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="torurmant-count">
            <div class="torurmant-title wow fadeIn" data-wow-duration="1000ms">
              <h3>Events Info</h3>
            </div>

            <div class="tab-pane active show"  role="tabpanel" aria-labelledby="all_tab" style="background-color: black">

              <div class="letest-games">
                <a href="#"><img src="assets/media/events/unique.jpg" alt="thumb"></a>
                <div class="game-time">
                  <h2 class="date" style="padding-left: 20px; font-size: 38px;"> Next Unique Will appear In </h2>
                  <p class="time" style="padding-top: 5%;font-size: 28px; text-align: center;" id="unique"></p>
                </div>
              </div>
              <!-- /.letest-games -->

              <div class="letest-games">
                <a href="#"><img src="assets/media/events/war.png" alt="thumb"></a>
                <div class="game-time">
                  <h2 class="date" style="padding-left: 20px; font-size: 38px;"> Next Fortress War Will start In </h2>
                  <p class="time" style="padding-top: 5%;font-size: 28px; text-align: center;" id="fw"></p>
                </div>
              </div>
              <!-- /.letest-games -->

              <div class="letest-games">
                <a href="#"><img src="assets/media/events/medal.png" alt="thumb"></a>
                <div class="game-time">
                  <h2 class="date" style="padding-left: 20px; font-size: 38px;"> Next Arena Will start In </h2>
                  <p class="time" style="padding-top: 5%;font-size: 28px; text-align: center;" id="arena"></p>
                </div>
              </div>
              <!-- /.letest-games -->
              <div class="letest-games">
                <a href="#"><img src="assets/media/events/flag.png" alt="thumb"></a>
                <div class="game-time">
                  <h2 class="date" style="padding-left: 20px; font-size: 38px;"> Next CTF Will start In </h2>
                  <p class="time" style="padding-top: 5%;font-size: 28px; text-align: center;" id="ctf"></p>
                </div>
              </div>

              <!-- /.letest-games -->

            </div>
          </div>
          <!-- /.torurmant-count -->


        </div>
        <!-- /.col-lg-8 -->

        <div class="col-lg-4 col-md-12">
          <div class="game-wraper-tab wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.5s">
            <div class="torurmant-title">
              <h3>Game Info</h3>
            </div>

            <div class="game-tabs">
              <ul class="tim-tab-nav-game nav" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active show" id="all_tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="false">Stats</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="gamer-tab" data-toggle="tab" href="#gamer" role="tab" aria-controls="gamer" aria-selected="true">Time</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="professional-tab" data-toggle="tab" href="#professional" role="tab" aria-controls="professional" aria-selected="true">Uniques</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="advancher-tab" data-toggle="tab" href="#advancher" role="tab" aria-controls="advancher" aria-selected="true">FortressWar</a>
                </li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane active show" id="all" role="tabpanel" aria-labelledby="all_tab">
                  <div class="letest-games">
                    <a href="#"><img src="https://cdn3.iconfinder.com/data/icons/unigrid-flat-human/90/011_010_support_tech_call_center_girl-512.png" alt="thumb"></a>
                    <span></span>
                    <div class="game-time">
                      <h4><strong>supporters online</strong></h4>
                      <h5 class="time">500 / 1000</h5>
                    </div>
                  </div>
                  <!-- Supporters -->

                  <div class="letest-games">
                    <a href="#"><img src="https://cdn.iconscout.com/public/images/icon/premium/png-512/online-game-games-video-casino-gamer-33b5d5e46b1c6d0a-512x512.png" alt="thumb"></a>
                    <span></span>

                    <div class="game-time" style="padding-left: 20px;">
                      <h4><strong>   players online</strong></h4>
                      <h5 class="time"> 4000 / 4000</h5>
                    </div>
                  </div>

                  <!-- Online Players -->

                </div>

                <div class="tab-pane" id="gamer" role="tabpanel" aria-labelledby="gamer-tab">
                  <div class="letest-games">
                    <!--<a href="#"><img src="https://cdn.iconscout.com/public/images/icon/premium/png-512/online-game-games-video-casino-gamer-33b5d5e46b1c6d0a-512x512.png" alt="thumb"></a> -->
                    <div class="game-time" style="padding-left: 50px;">
                      <p style="font-size: 48px;"><strong>   server time </strong></p>
                      <h3 class="time" style="font-size: 28px;"> 15:00:04 PM </h3>
                    </div>
                  </div>

                  <!-- /.letest-games -->
                </div>

                <div class="tab-pane" id="professional" role="tabpanel" aria-labelledby="professional-tab">
                  <div class="letest-games">
                    <a href="#"><img src="assets/media/uniques/Uruchi.jpg" alt="thumb"></a>
                    <div class="game-time">
                      <h2 class="date" style="padding-left: 20px;"><strong class="time">GeeK</strong> has killed <strong class="time"> Urchi </strong></h2>
                      <p class="date">20 minutes ago</p>
                    </div>
                  </div>
                  <!-- /.letest-games -->

                  <div class="letest-games">
                    <a href="#"><img src="assets/media/uniques/CaptainIvy.jpg" alt="thumb"></a>
                    <div class="game-time">
                      <h2 class="date" style="padding-left: 20px;"><strong class="time">GeeK</strong> has killed <strong class="time"> Captain Ivy </strong></h2>
                      <p class="date">30 minutes ago</p>
                    </div>
                  </div>
                  <!-- /.letest-games -->

                  <div class="letest-games">
                    <a href="#"><img src="assets/media/uniques/Cerberus.jpg" alt="thumb"></a>
                    <div class="game-time">
                      <h2 class="date" style="padding-left: 20px;"><strong class="time">GeeK</strong> has killed <strong class="time"> Cerberus </strong></h2>
                      <p class="date">40 minutes ago</p>
                    </div>
                  </div>
                  <!-- /.letest-games -->
                  <div class="letest-games">
                    <a href="#"><img src="assets/media/uniques/DemonShaitan.jpg" alt="thumb"></a>
                    <div class="game-time">
                      <h2 class="date" style="padding-left: 20px;"><strong class="time">GeeK</strong> has killed <strong class="time"> Demon Shaitan </strong></h2>
                      <p class="date">45 minutes ago</p>
                    </div>
                  </div>

                  <!-- /.letest-games -->
                  <div class="letest-games">
                    <a href="#"><img src="assets/media/uniques/LordYarkan.jpg" alt="thumb"></a>
                    <div class="game-time">
                      <h2 class="date" style="padding-left: 20px;"><strong class="time">GeeK</strong> has killed <strong class="time"> Lord Yarkan </strong></h2>
                      <p class="date">1 hour ago</p>
                    </div>
                  </div>

                </div>

                <div class="tab-pane" id="advancher" role="tabpanel" aria-labelledby="advancher-tab">
                  <div class="letest-games">
                    <a href="#"><img src="assets/media/fortresswar/jangan.PNG" alt="thumb"></a>
                    <div class="game-time">
                      <h2 class="date" style="padding-left: 20px;"><strong class="time">Jangan</strong> Occupied by : </h2>
                      <p class="date"><strong class="time" style="padding-top: 20px;"> None </strong></p>
                    </div>
                  </div>
                  <!-- /.letest-games -->

                  <div class="letest-games">
                    <a href="#"><img src="assets/media/fortresswar/hotan.PNG" alt="thumb"></a>
                    <div class="game-time">
                      <h2 class="date" style="padding-left: 20px;"><strong class="time">Hotan</strong> Occupied by : </h2>
                      <p class="date"><strong class="time" style="padding-top: 20px;"> None </strong></p>
                    </div>
                  </div>
                  <!-- /.letest-games -->

                  <div class="letest-games">
                    <a href="#"><img src="assets/media/fortresswar/bandit.PNG" alt="thumb"></a>
                    <div class="game-time">
                      <h2 class="date" style="padding-left: 20px;"><strong class="time">Bandit</strong> Occupied by : </h2>
                      <p class="date"><strong class="time" style="padding-top: 20px;"> None </strong></p>
                    </div>
                  </div>
                  <!-- /.letest-games -->

                </div>
              </div>
            </div>
            <!-- /.game-tabs -->
          </div>

        </div>
        <!-- /.col-lg-4 col-md-12 -->
      </div>
      <!-- /.row -->
      <!-- /.latest-game -->
    </div>
    <!-- /.container -->
  </section>


  <!--==================================-->
  <!--=        Letest News Clan        =-->
  <!--==================================-->
  <section id="latest-news-clan-two" class="section-padding" data-parallax="image" data-bg-image="assets/media/background/3.jpg">
    <div class="container">

      <div class="section-title">
        <h3 class="sub-title wow fadeInUp" data-wow-duration="1000ms">Keep updated with</h3>
        <h2 class="title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">Latest News</h2>
        <span class="delemitter wow zoomIn" data-wow-duration="1000ms" data-wow-delay="0.4s" data-bg-image="assets/media/banner/s1.png" style="background-image: url(_assets/media/banner/s1.html);"></span>

        <div class="section-content wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.5s">
          <p>
            Read the most authoritative, up-to-date news and headlines from Z Online
          </p>
        </div>
      </div>

      <div class="top-game-tabs wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.7s">
        <div class="torurmant-title">
          <ul class="tim-tab-nav-game-top nav" role="tablist">
            <li class="nav-item">
              <a class="nav-link active show" id="all3_tab" data-toggle="tab" href="#all3" role="tab" aria-controls="all3" aria-selected="false">Announcements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="gamer3-tab" data-toggle="tab" href="#gamer3" role="tab" aria-controls="gamer3" aria-selected="true">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="professional3-tab" data-toggle="tab" href="#professional3" role="tab" aria-controls="professional3" aria-selected="true">Maintenance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="advancher3-tab" data-toggle="tab" href="#advancher3" role="tab" aria-controls="advancher3" aria-selected="true">Updates</a>
            </li>
          </ul>
        </div>


        <div class="tab-content">
          <div class="tab-pane active show" id="all3" role="tabpanel" aria-labelledby="all3_tab">

            <div class="clan-blog-post-wrap">
              <div class="row">
                <div class="col-lg-4">
                  <div class="clan-blog-post">
                    <div class="feature-image">
                      <a href="blog-single.html">
                        <img src="assets/media/blog/c6.jpg" alt="thamb">
                      </a>
                    </div>

                    <div class="content">
                      <h3><a href="blog-single.html">Play it, Love it!</a></h3>

                      <ul class="meta meta-grey">
                        <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                        <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                      </ul>

                      <p>
                        Cap 90, ninth degree. Experience totally new beloved features, areas, endless wars, events, models, in-game windows & the art of game-play. [...]
                      </p>
                    </div>
                  </div>
                </div>
                <!-- /.col-lg-4 -->

                <div class="col-lg-4">
                  <div class="clan-blog-post-list">
                    <div class="clan-blog-list clearfix">
                      <a href="blog-single.html" class="float-left"><img src="assets/media/blog/c2.jpg" alt="thumb"></a>

                      <div class="content">
                        <h4>
                          <a href="blog-single.html">
                            MORBI VEL IPSUM VEL AUGUE MATTIS
                            ULTRICIES NON ET MAURIS
                          </a>
                        </h4>
                        <ul class="meta meta-grey">
                          <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                          <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- /.clan-blog-list -->

                    <div class="clan-blog-list clearfix">
                      <a href="blog-single.html" class="float-left"><img src="assets/media/blog/c3.jpg" alt="thumb"></a>

                      <div class="content">
                        <h4>
                          <a href="blog-single.html">
                            MORBI VEL IPSUM VEL AUGUE MATTIS
                            ULTRICIES NON ET MAURIS
                          </a>
                        </h4>
                        <ul class="meta meta-grey">
                          <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                          <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- /.clan-blog-list -->

                    <div class="clan-blog-list clearfix">
                      <a href="blog-single.html" class="float-left"><img src="assets/media/blog/c4.jpg" alt="thumb"></a>

                      <div class="content">
                        <h4>
                          <a href="blog-single.html">
                            MORBI VEL IPSUM VEL AUGUE MATTIS
                            ULTRICIES NON ET MAURIS
                          </a>
                        </h4>
                        <ul class="meta meta-grey">
                          <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                          <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- /.clan-blog-list -->

                    <div class="game-video-item">
                      <div class="feature-image">
                        <a href="#"><img src="assets/media/video/c2.jpg" alt="thumb"></a>
                        <a href="https://www.youtube.com/watch?v=0I8GmbDU7c4" class="video-play-btn bdr"><i class="fa fa-angle-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.col-lg-4 -->

                <div class="col-lg-4">
                  <div class="clan-blog-post">
                    <div class="feature-image">
                      <a href="blog-single.html">
                        <img src="assets/media/blog/c5.jpg" alt="thamb">
                      </a>
                    </div>

                    <div class="content">
                      <h3><a href="#">ALIQUAM SCELERISQUE LUCTUS NISL</a></h3>

                      <ul class="meta meta-grey">
                        <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                        <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                      </ul>

                      <p>
                        Sed commodo, libero ut dignissim imperdiet, lorem nibh bibendum nisi, vel blandit est eros sit amet elit. Mauris nec arcu vel tellus aliquam congue. Mauris fermentum sem ut tortor ultricies dictum [...]
                      </p>
                    </div>
                  </div>
                </div>
                <!-- /.col-lg-4 -->

              </div>
              <!-- /.row -->
              <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4 text-center" style="padding-top: 5%;">
                  <a href="#" class="cart-btn mb__10"><i class="fa fa-newspaper"></i>See all posts</a>
                </div>
                <div class="col-lg-4">
                </div>
              </div>
            </div>

            <!-- /.games-bg -->

          </div>
          <!-- /.tab-pane -->

          <div class="tab-pane" id="gamer3" role="tabpanel" aria-labelledby="gamer3-tab">
            <div class="clan-blog-post-wrap">
              <div class="row">
                <div class="col-lg-4">
                  <div class="clan-blog-post">
                    <div class="feature-image">
                      <a href="blog-single.html">
                        <img src="assets/media/blog/c1.jpg" alt="thamb">
                      </a>
                    </div>

                    <div class="content">
                      <h3><a href="blog-single.html">ALIQUAM SCELERISQUE LUCTUS NISL</a></h3>

                      <ul class="meta meta-grey">
                        <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                        <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                      </ul>

                      <p>
                        Sed commodo, libero ut dignissim imperdiet, lorem nibh bibendum nisi, vel blandit est eros sit amet elit. Mauris nec arcu vel tellus aliquam congue. Mauris fermentum sem ut tortor ultricies dictum [...]
                      </p>
                    </div>
                  </div>
                </div>
                <!-- /.col-lg-4 -->

                <div class="col-lg-4">
                  <div class="clan-blog-post-list">
                    <div class="clan-blog-list clearfix">
                      <a href="blog-single.html" class="float-left"><img src="assets/media/blog/c2.jpg" alt="thumb"></a>

                      <div class="content">
                        <h4>
                          <a href="blog-single.html">
                            MORBI VEL IPSUM VEL AUGUE MATTIS
                            ULTRICIES NON ET MAURIS
                          </a>
                        </h4>
                        <ul class="meta meta-grey">
                          <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                          <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- /.clan-blog-list -->

                    <div class="clan-blog-list clearfix">
                      <a href="blog-single.html" class="float-left"><img src="assets/media/blog/c3.jpg" alt="thumb"></a>

                      <div class="content">
                        <h4>
                          <a href="blog-single.html">
                            MORBI VEL IPSUM VEL AUGUE MATTIS
                            ULTRICIES NON ET MAURIS
                          </a>
                        </h4>
                        <ul class="meta meta-grey">
                          <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                          <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- /.clan-blog-list -->

                    <div class="clan-blog-list clearfix">
                      <a href="blog-single.html" class="float-left"><img src="assets/media/blog/c4.jpg" alt="thumb"></a>

                      <div class="content">
                        <h4>
                          <a href="blog-single.html">
                            MORBI VEL IPSUM VEL AUGUE MATTIS
                            ULTRICIES NON ET MAURIS
                          </a>
                        </h4>
                        <ul class="meta meta-grey">
                          <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                          <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- /.clan-blog-list -->

                    <div class="game-video-item">
                      <div class="feature-image">
                        <a href="#"><img src="assets/media/video/c2.jpg" alt="thumb"></a>
                        <a href="https://www.youtube.com/watch?v=0I8GmbDU7c4" class="video-play-btn bdr"><i class="fa fa-angle-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.col-lg-4 -->

                <div class="col-lg-4">
                  <div class="clan-blog-post">
                    <div class="feature-image">
                      <a href="blog-single.html">
                        <img src="assets/media/blog/c5.jpg" alt="thamb">
                      </a>
                    </div>

                    <div class="content">
                      <h3><a href="#">ALIQUAM SCELERISQUE LUCTUS NISL</a></h3>

                      <ul class="meta meta-grey">
                        <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                        <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                      </ul>

                      <p>
                        Sed commodo, libero ut dignissim imperdiet, lorem nibh bibendum nisi, vel blandit est eros sit amet elit. Mauris nec arcu vel tellus aliquam congue. Mauris fermentum sem ut tortor ultricies dictum [...]
                      </p>
                    </div>
                  </div>
                </div>
                <!-- /.col-lg-4 -->

              </div>
              <!-- /.row -->
              <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4 text-center" style="padding-top: 5%;">
                  <a href="#" class="cart-btn mb__10"><i class="fa fa-newspaper"></i>See all posts</a>
                </div>
                <div class="col-lg-4">
                </div>
              </div>
            </div>

            <!-- /.games-bg -->
          </div>
          <!-- /.tab-pane -->

          <div class="tab-pane" id="professional3" role="tabpanel" aria-labelledby="professional3-tab">
            <div class="clan-blog-post-wrap">
              <div class="row">
                <div class="col-lg-4">
                  <div class="clan-blog-post">
                    <div class="feature-image">
                      <a href="blog-single.html">
                        <img src="assets/media/blog/c1.jpg" alt="thamb">
                      </a>
                    </div>

                    <div class="content">
                      <h3><a href="blog-single.html">ALIQUAM SCELERISQUE LUCTUS NISL</a></h3>

                      <ul class="meta meta-grey">
                        <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                        <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                      </ul>

                      <p>
                        Sed commodo, libero ut dignissim imperdiet, lorem nibh bibendum nisi, vel blandit est eros sit amet elit. Mauris nec arcu vel tellus aliquam congue. Mauris fermentum sem ut tortor ultricies dictum [...]
                      </p>
                    </div>
                  </div>
                </div>
                <!-- /.col-lg-4 -->

                <div class="col-lg-4">
                  <div class="clan-blog-post-list">
                    <div class="clan-blog-list clearfix">
                      <a href="blog-single.html" class="float-left"><img src="assets/media/blog/c2.jpg" alt="thumb"></a>

                      <div class="content">
                        <h4>
                          <a href="blog-single.html">
                            MORBI VEL IPSUM VEL AUGUE MATTIS
                            ULTRICIES NON ET MAURIS
                          </a>
                        </h4>
                        <ul class="meta meta-grey">
                          <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                          <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- /.clan-blog-list -->

                    <div class="clan-blog-list clearfix">
                      <a href="blog-single.html" class="float-left"><img src="assets/media/blog/c3.jpg" alt="thumb"></a>

                      <div class="content">
                        <h4>
                          <a href="blog-single.html">
                            MORBI VEL IPSUM VEL AUGUE MATTIS
                            ULTRICIES NON ET MAURIS
                          </a>
                        </h4>
                        <ul class="meta meta-grey">
                          <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                          <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- /.clan-blog-list -->

                    <div class="clan-blog-list clearfix">
                      <a href="blog-single.html" class="float-left"><img src="assets/media/blog/c4.jpg" alt="thumb"></a>

                      <div class="content">
                        <h4>
                          <a href="blog-single.html">
                            MORBI VEL IPSUM VEL AUGUE MATTIS
                            ULTRICIES NON ET MAURIS
                          </a>
                        </h4>
                        <ul class="meta meta-grey">
                          <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                          <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- /.clan-blog-list -->

                    <div class="game-video-item">
                      <div class="feature-image">
                        <a href="#"><img src="assets/media/video/c2.jpg" alt="thumb"></a>
                        <a href="https://www.youtube.com/watch?v=0I8GmbDU7c4" class="video-play-btn bdr"><i class="fa fa-angle-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.col-lg-4 -->

                <div class="col-lg-4">
                  <div class="clan-blog-post">
                    <div class="feature-image">
                      <a href="blog-single.html">
                        <img src="assets/media/blog/c5.jpg" alt="thamb">
                      </a>
                    </div>

                    <div class="content">
                      <h3><a href="#">ALIQUAM SCELERISQUE LUCTUS NISL</a></h3>

                      <ul class="meta meta-grey">
                        <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                        <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                      </ul>

                      <p>
                        Sed commodo, libero ut dignissim imperdiet, lorem nibh bibendum nisi, vel blandit est eros sit amet elit. Mauris nec arcu vel tellus aliquam congue. Mauris fermentum sem ut tortor ultricies dictum [...]
                      </p>
                    </div>
                  </div>
                </div>
                <!-- /.col-lg-4 -->

              </div>
              <!-- /.row -->
              <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4 text-center" style="padding-top: 5%;">
                  <a href="#" class="cart-btn mb__10"><i class="fa fa-newspaper"></i>See all posts</a>
                </div>
                <div class="col-lg-4">
                </div>
              </div>
            </div>

            <!-- /.games-bg -->
          </div>
          <!-- /.tab-pane -->

          <div class="tab-pane" id="advancher3" role="tabpanel" aria-labelledby="advancher3-tab">
            <div class="clan-blog-post-wrap">
              <div class="row">
                <div class="col-lg-4">
                  <div class="clan-blog-post">
                    <div class="feature-image">
                      <a href="blog-single.html">
                        <img src="assets/media/blog/c1.jpg" alt="thamb">
                      </a>
                    </div>

                    <div class="content">
                      <h3><a href="blog-single.html">ALIQUAM SCELERISQUE LUCTUS NISL</a></h3>

                      <ul class="meta meta-grey">
                        <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                        <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                      </ul>

                      <p>
                        Sed commodo, libero ut dignissim imperdiet, lorem nibh bibendum nisi, vel blandit est eros sit amet elit. Mauris nec arcu vel tellus aliquam congue. Mauris fermentum sem ut tortor ultricies dictum [...]
                      </p>
                    </div>
                  </div>
                </div>
                <!-- /.col-lg-4 -->

                <div class="col-lg-4">
                  <div class="clan-blog-post-list">
                    <div class="clan-blog-list clearfix">
                      <a href="blog-single.html" class="float-left"><img src="assets/media/blog/c2.jpg" alt="thumb"></a>

                      <div class="content">
                        <h4>
                          <a href="blog-single.html">
                            MORBI VEL IPSUM VEL AUGUE MATTIS
                            ULTRICIES NON ET MAURIS
                          </a>
                        </h4>
                        <ul class="meta meta-grey">
                          <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                          <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- /.clan-blog-list -->

                    <div class="clan-blog-list clearfix">
                      <a href="blog-single.html" class="float-left"><img src="assets/media/blog/c3.jpg" alt="thumb"></a>

                      <div class="content">
                        <h4>
                          <a href="blog-single.html">
                            MORBI VEL IPSUM VEL AUGUE MATTIS
                            ULTRICIES NON ET MAURIS
                          </a>
                        </h4>
                        <ul class="meta meta-grey">
                          <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                          <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- /.clan-blog-list -->

                    <div class="clan-blog-list clearfix">
                      <a href="blog-single.html" class="float-left"><img src="assets/media/blog/c4.jpg" alt="thumb"></a>

                      <div class="content">
                        <h4>
                          <a href="blog-single.html">
                            MORBI VEL IPSUM VEL AUGUE MATTIS
                            ULTRICIES NON ET MAURIS
                          </a>
                        </h4>
                        <ul class="meta meta-grey">
                          <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                          <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- /.clan-blog-list -->

                    <div class="game-video-item">
                      <div class="feature-image">
                        <a href="#"><img src="assets/media/video/c2.jpg" alt="thumb"></a>
                        <a href="https://www.youtube.com/watch?v=0I8GmbDU7c4" class="video-play-btn bdr"><i class="fa fa-angle-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.col-lg-4 -->

                <div class="col-lg-4">
                  <div class="clan-blog-post">
                    <div class="feature-image">
                      <a href="blog-single.html">
                        <img src="assets/media/blog/c5.jpg" alt="thamb">
                      </a>
                    </div>

                    <div class="content">
                      <h3><a href="#">ALIQUAM SCELERISQUE LUCTUS NISL</a></h3>

                      <ul class="meta meta-grey">
                        <li><a href="#"><i class="fa fa-calendar"></i>Jan 22, 2018</a></li>
                        <li><a href="#" class="date"><i class="fa fa-commenting-o"></i>4 Comments</a></li>
                      </ul>

                      <p>
                        Sed commodo, libero ut dignissim imperdiet, lorem nibh bibendum nisi, vel blandit est eros sit amet elit. Mauris nec arcu vel tellus aliquam congue. Mauris fermentum sem ut tortor ultricies dictum [...]
                      </p>
                    </div>
                  </div>
                </div>
                <!-- /.col-lg-4 -->

              </div>
              <!-- /.row -->
              <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4 text-center" style="padding-top: 5%;">
                  <a href="#" class="cart-btn mb__10"><i class="fa fa-newspaper"></i>See all posts</a>
                </div>
                <div class="col-lg-4">
                </div>
              </div>
            </div>

            <!-- /.games-bg -->

          </div>
          <!-- /.tab-pane -->

        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.game-tabs -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /#latest-news -->


  <!--=========================-->
  <!--=        Beyond         =-->
  <!--=========================-->
  <section id="beyond" data-bg-image="assets/media/background/1.jpg">
    <div class="container">
      <div class="section-title">
        <h3 class="sub-title wow fadeInUp" data-wow-duration="1000ms">Discover a New experience of gameplay</h3>
        <h2 class="title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.2s">See What Lies Beyond</h2>
        <span class="delemitter  wow zoomIn" data-wow-duration="1000ms" data-wow-delay="0.4s" data-bg-image="assets/media/banner/s1.png"></span>

        <div class="section-content  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.5s">
          <p>
            Perfect and creative !
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="beyond-content">
            <div class="section-mini-title  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.7s">
              <h2 class="title">Overview Z Online</h2>
            </div>

            <p class="content  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.8s">
              Z Online is a stunning fantasy MMORPG that features fast-paced action combat, a vast, gorgeous world, and highly customizable models, characters ,events.
              Z Online Aims to create great world based on <strong>"Play 2 win"</strong>.

            </p>

            <p class="content content-two  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1s">
              Best of all, Z Online is FREE to play!
            </p>

          </div>
          <!-- /.beyond-content -->
        </div>
        <!-- /.col-md-6 -->

        <div class="col-md-6">
          <div class="game-items">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-6">
                <div class="game-item wow zoomIn" data-wow-duration="1000ms" data-wow-delay="0.7s">
                  <a href="overview.html">
                    <img src="assets/media/game/20.jpg" alt="game-thumb">
                    <h3 class="game-title">Lava Hound</h3>
                  </a>
                </div>
                <!-- /.game-item -->
              </div>
              <!-- /.col-lg-4 col-md-6 col-6 -->

              <div class="col-lg-4 col-md-6 col-6">
                <div class="game-item wow zoomIn" data-wow-duration="1000ms" data-wow-delay="0.7s">
                  <a href="overview.html">
                    <img src="assets/media/game/2.jpg" alt="game-thumb">
                    <h3 class="game-title">Corpse Killer</h3>
                  </a>
                </div>
                <!-- /.game-item -->
              </div>
              <!-- /.col-lg-4 col-md-6 col-6 -->

              <div class="col-lg-4 col-md-6 col-6">
                <div class="game-item wow zoomIn" data-wow-duration="1000ms" data-wow-delay="0.7s">
                  <a href="overview.html">
                    <img src="assets/media/game/3.jpg" alt="game-thumb">
                    <h3 class="game-title">Dead Rising</h3>
                  </a>
                </div>
                <!-- /.game-item -->
              </div>
              <!-- /.col-lg-4 col-md-6 col-6 -->

              <div class="col-lg-4 col-md-6 col-6">
                <div class="game-item wow zoomIn" data-wow-duration="1000ms" data-wow-delay="0.7s">
                  <a href="overview.html">
                    <img src="assets/media/game/4.jpg" alt="game-thumb">
                    <h3 class="game-title">Evil Dead</h3>
                  </a>
                </div>
                <!-- /.game-item -->
              </div>
              <!-- /.col-lg-4 col-md-6 col-6 -->

              <div class="col-lg-4 col-md-6 col-6">
                <div class="game-item wow zoomIn" data-wow-duration="1000ms" data-wow-delay="0.7s">
                  <a href="overview.html">
                    <img src="assets/media/game/5.jpg" alt="game-thumb">
                    <h3 class="game-title">Beast Busters</h3>
                  </a>
                </div>
                <!-- /.game-item -->
              </div>
              <!-- /.col-lg-4 col-md-6 col-6 -->

              <div class="col-lg-4 col-md-6 col-6">
                <div class="game-item wow zoomIn" data-wow-duration="1000ms" data-wow-delay="0.7s">
                  <a href="overview.html">
                    <img src="assets/media/game/6.jpg" alt="game-thumb">
                    <h3 class="game-title">Carmageddon ||</h3>
                  </a>
                </div>
                <!-- /.game-item -->
              </div>
              <!-- /.col-lg-4 col-md-6 col-6 -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.game-link -->
        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /#beyond -->

  <!--=====================-->
  <!--=        Video      =-->
  <!--=====================-->
  <section id="video" data-bg-image="assets/media/video/10.jpg">
    <div class="container">
      <a href="https://www.youtube.com/watch?v=0I8GmbDU7c4" class="video-btn pop-up"><i class="fa fa-play"></i></a>
    </div>
    <!-- /.container -->
  </section>
  <!-- /#vider -->
  <!--===========================-->
  <!--=        Modarator        =-->
  <!--===========================-->
  <div id="moderator-two" data-bg-image="assets/media/background/25.jpg">
    <div class="container">
      <div class="section-title">
        <h3 class="sub-title wow fadeInUp" data-wow-duration="1000ms">Meet</h3>
        <h2 class="title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.2s">Z Team</h2>
        <span class="delemitter wow zoomIn" data-wow-duration="1000ms" data-wow-delay="0.3s" data-bg-image="assets/media/banner/s1.png" style="background-image: url(_assets/media/banner/s1.html);"></span>

        <div class="section-content wow fadeInup" data-wow-duration="1000ms" data-wow-delay="0.4s">
          <p>
            Talent wins games, but teamwork and intelligence win championships.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="moderator-member wow zoomIn" data-wow-duration="1000ms" data-wow-delay="0.6s">
            <div class="member-details">
              <h2 class="name" style="font-size: 38px;">.7z</h2>
              <br>
              <span style="font-size: 28px;">Game Developer</span>
            </div>

            <div class="member-thumb" data-bg-image="assets/media/team/01.png">
              <img src="assets/media/team/1.png" alt="Member">
            </div>

          </div>
          <!-- /.moderator-member -->
        </div>
        <!-- /.col-lg-4 col-md-6 -->

        <div class="col-lg-3 col-md-6">
          <div class="moderator-member wow zoomIn" data-wow-duration="1000ms" data-wow-delay="0.8s">
            <div class="member-details">
              <h2 class="name" style="font-size: 38px;">NULL</h2>
              <br>
              <span style="font-size: 28px;">Game Modeler</span>
            </div>

            <div class="member-thumb" data-bg-image="assets/media/team/01.png">
              <img src="assets/media/team/2.png" alt="Member">
            </div>

          </div>
          <!-- /.moderator-member -->
        </div>
        <!-- /.col-lg-4 col-md-6 -->

        <div class="col-lg-3 col-md-6">
          <div class="moderator-member wow zoomIn" data-wow-duration="1000ms" data-wow-delay="0.9s">
            <div class="member-details">
              <h2 class="name" style="font-size: 38px;">GeeK</h2>
              <br>
              <span style="font-size: 28px;">Website Developer</span>
            </div>

            <div class="member-thumb" data-bg-image="assets/media/team/01.png">
              <img src="assets/media/team/4.png" alt="Member">
            </div>

          </div>
          <!-- /.moderator-member -->
        </div>
        <!-- /.col-lg-4 col-md-6 -->

        <div class="col-lg-3 col-md-6">
          <div class="moderator-member wow zoomIn" data-wow-duration="1000ms" data-wow-delay="1.1s">
            <div class="member-details">
              <h2 class="name" style="font-size: 38px;">Nindzsa</h2>
              <br>
              <span style="font-size: 28px;">Graphic Designer</span>
            </div>

            <div class="member-thumb" data-bg-image="assets/media/team/01.png">
              <img src="assets/media/team/3.png" alt="Member">
            </div>

          </div>
          <!-- /.moderator-member -->
        </div>
        <!-- /.col-lg-4 col-md-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /#moderator -->



  <!--=====================-->
  <!--=        Footer       =-->
  <!--================++=====-->
  <footer id="footer-three" class="pr" data-bg-image="assets/media/background/45.jpg">
    <div class="container">
      <div class="footer-inner">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="footer-about">
              <div class="content">
                <p>
                  Z Online is a fantasy MMORPG set in the 7th century AD, along the Silk Road between China and Europe. The game requires no periodic subscription fee, but players can purchase cosmetic items to have a cool look.
                </p>
              </div>

              <ul class="footer-social-link">
                <li class="fb-bg"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="in-bg"><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li class="tw-bg"><a href="#"><i class="fab fa-discord"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- /.col-lg-3 col-sm-6 col-md-6 -->

          <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="footer-menu-inner">
              <a  href="https://www.elitepvpers.com"><img src="https://chimpeon.com/images/elitepvpers_logo.png"></a>
            </div>
          </div>
          <!-- /.col-lg-3 col-sm-6 col-md-6 -->

          <div class="col-lg-3 col-sm-6 col-md-6">
          </div>
          <!-- /.col-lg-3 col-sm-6 col-md-6 -->

          <div class="col-lg-3 col-sm-6 col-md-6">
          </div>
          <!-- /.col-lg-3 col-sm-6 col-md-6 -->
        </div>
        <!-- /.row -->

        <div class="copy-right">
          <p>Copyright 2018 <a href="www.z-sro.com" >Z Team</a> All Rights Reserved</p>
        </div>
      </div>
      <!-- /.footer-inner -->
    </div>
    <!-- /.container -->
  </footer>
  <!-- /#footer-three -->


</div>
<!-- /#site -->

<!-- Dependency Scripts -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="assets/dependencies/jquery/jquery.min.js"></script>
<script src="assets/dependencies/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/dependencies/swiper/js/swiper.min.js"></script>
<script src="assets/dependencies/swiperRunner/swiperRunner.min.js"></script>
<script src="assets/dependencies/magnific-popup/js/jquery.magnific-popup.min.js"></script>
<script src="assets/dependencies/jquery-ui/jquery-ui.min.js"></script>
<script src="assets/dependencies/jquery-animated-headlines/js/jquery.animatedheadline.min.js"></script>
<script src="assets/dependencies/jquery.countdown/jquery.countdown.min.js"></script>
<script src="assets/dependencies/countUp.js/js/countUp.min.js"></script>
<script src="assets/dependencies/jquery.appear.bas2k/jquery.appear.js"></script>
<script src="assets/dependencies/jquery.ripples/jquery.ripples.js"></script>
<script src="assets/dependencies/wow/js/wow.min.js"></script>
<%= javascript_include_tag "home-dependencies/app.js" %>
<%= javascript_include_tag "home-dependencies/Timers.js" %>


</body>


</html>
