<!DOCTYPE html>
<html lang="en" class="Gibbu_@hotmail.com">

<head>
  <meta charset="UTF-8">
  <title> Z Online | One step closer ! </title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js" integrity="sha256-mkdmXjMvBcpAyyFNCVdbwg4v+ycJho65QLDwVE3ViDs=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


  <%= stylesheet_link_tag "login.css" %>


</head>

<body>


<!-- NORMALIZED CSS INSTALLED-->
<!-- View settings for more info.-->
<div id="container" >
  <div id="inviteContainer"  style="width: 80%; height: auto">
    <div class="logoContainer" style="width: 100%; height: auto">
      <img class="logo" src="http://www.clker.com/cliparts/S/h/F/q/c/D/info-th.png"/>
      <img class="text" src="https://image.ibb.co/ezUg1o/cooltext292376067578982.png" style="width: 25%; height: auto;"/>
      <img class="text" src="https://image.ibb.co/edOPMo/cooltext292376334022271.png" style="width: 100%; height: auto;"/>
      <img class="text" src="https://i.imgur.com/VpOmw7u.png" style="width: 100%; height: auto;"/>
      <button class="acceptBtn text" style="z-index: 155; margin-top: 2%; font-size: 28px; font-weight: 700;" onclick="location.href='../users/confirmation';">I didn't receive my instructions</button>
    </div>
  </div>
</div>


<%= javascript_include_tag "login.js"  %>


</body>

</html>

