<% obj.each do |faq|%>
  <div class = "row">
    <div class = "col-xs-8 col-xs-offset-2">
      <div class="well well-lg">


        <div class="article-body">
          <%= faq.question %>
          <div class="article-body">
            <%= faq.answer %>
          </div>
        </div>
        <% if current_user.admin? %>
          <div class="article-actions">
            <%= link_to "Edit this article" , edit_faq_path(faq),class: "btn btn-xs btn-primary" %>
            <%= link_to "Delete this article", faq_path(faq),
                        method: :delete, data: {confirm: "Are you sure you want to delete the question?"},
                        class: "btn btn-xs btn-danger"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>