<%= form_for([@ticket,@ticket.tcomments.build], html: { multipart: true }) do |f| %>
  <% if @ticket.status != true %>
    <li><h2>This ticket is closed!!!</h2></li>

  <%else %>
    <%= f.text_area :content %>
    <%= f.file_field :image %>
    <%= f.submit "Create comment" %>

  <% end %>
<% end %>