<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/png" href="assets/media/Z_ICO.ico"/>
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/media/Z_ICO.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/media/Z_ICO.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/media/Z_ICO.ico">

  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
</head>

<body>

<%= yield %>


</body>
</html>