<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/png" href="assets/media/Z_ICO.ico"/>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
</head>

<body>

<%= yield %>


</body>
</html>